.title {
  display: grid;
  grid-area: 1 / 2;
  grid-template-columns: 1fr 90px 1fr;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}

#happyFoodLogo {
  width: 100%;
  height: auto;
  justify-self: center;
}

#happyFoodLogo:hover {
  opacity: 0.5;
}

#happyFoodLogo:active {
  opacity: 0;
}

#title-start {
  text-align: right;
  margin-right: 10px;
  margin-top: 15px;
}

#title-end {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}
